<div class="col-12">
  <div class="row">
    <div class="col-12 mb-3">
      <h2 class="page-header">
        <i class="fas fa-users"></i> List of Sockets
      </h2>
    </div>
    <div class="col-12 mb-2">
      <button class="btn btn-flat btn-success" (click)="newSocket()">
        Add New <i class="fas fa-plus"></i>
      </button>
      <button class="btn btn-flat btn-default ml-1" (click)="refreshSocketsList()">
        Refresh List <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>

  <div class="card card-primary box-flat">
    <div class="card-header box-flat">
      <h5 class="card-title m-0">List of Sockets</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table" *ngIf="socketsLoaded === true">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let socket of sockets">
                <td>{{ socket.id }}</td>
                <td>{{ socket.name }}</td>
                <td>{{ socket.created | date: 'short' }}</td>
                <td>
                  <button class="btn btn-sm btn-flat btn-info" (click)="viewSocket(socket)">
                    View <i class="fas fa-search"></i>
                  </button>
                  <button class="btn btn-sm btn-flat btn-default ml-1" (click)="editSocket(socket)">
                    Edit <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-sm btn-flat btn-danger ml-1" (click)="removeSocket(socket)">
                    Remove <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="overlay box-flat" *ngIf="socketsLoading && !socketsLoaded">
      <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
  </div>
</div>
